ion-content {
  --background: url('../../assets/fondo.jpeg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
  margin: 0; /* Asegura que no haya márgenes */
  padding: 0; /* Asegura que no haya padding */
  box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */

}


.login-box {
  width: 70%;
  max-width: 70%;
  padding: 2rem;
  border-radius: 8px;
  background: rgba(105, 105, 105, 0.8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: auto;
}

h2 {
  margin-bottom: 1rem;
  color: #000000;
}

ion-item {
  --border-radius: 8px;
  --background: #d8d8d8;
  margin-bottom: 1rem;
}

ion-label {
  color: #1909fc;
}

ion-button {
  --background: #000000;
  margin-top: 1rem;
}

.register-link {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #ccc;
}

.register-link a {
  color: #3880ff;
  text-decoration: none;
}

.text {
  color: #ffffff;
}

.text1 {
  color: #020202;
}