<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">zapatillas</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col><a class="texto" routerLink="/remeras" routerLinkActive="active" routerDirection="root">Remeras</a></ion-col>
      <ion-col><a class="texto" routerLink="/pantalones" routerLinkActive="active" routerDirection="root">Pantalones</a></ion-col>
      <ion-col><a class="texto" routerLink="/buzos" routerLinkActive="active" routerDirection="root">Buzos</a></ion-col>
      <ion-col><a class="texto" routerLink="/zapatillas" routerLinkActive="active" routerDirection="root">Zapatillas</a></ion-col>
      <ion-col><a class="texto" routerLink="/camperas" routerLinkActive="active" routerDirection="root">Camperas</a></ion-col>
    </ion-row>
  </ion-grid>

   <ion-card>
    <ion-img src="https://acdn.mitiendanube.com/stores/001/951/895/products/img_5912-c7bc300dd1ec0bfa4c17216670867520-1024-1024.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>ADI 2000 </ion-card-title>
      <ion-card-subtitle>ADI 2000 (Black and white)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://succezzthestore.com/cdn/shop/files/IMG-5435_4f06fc02-c51b-4062-aadf-6a827f83a322.jpg?v=1718461363&width=1080"></ion-img>
    <ion-card-header>
      <ion-card-title> Air Jordan 4  </ion-card-title>
      <ion-card-subtitle> Air Jordan 4 "Oxidized Green" (GS) </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://static.nike.com/a/images/t_PDP_936_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/8a037216-da04-4b5f-9c7e-2d25ecd44d2b/AIR+JORDAN+1+LOW.png"></ion-img>
    <ion-card-header>
      <ion-card-title> Air Jordan 1</ion-card-title>
      <ion-card-subtitle>Low Nike TH</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://www.indy.com.ar/cdn/shop/files/300529_COURT_GRAFFIK_001_CPT3-min_copia-Photoroom.jpg?v=1727288959&width=1946"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo vintage  </ion-card-title>
      <ion-card-subtitle>Vintage Basketball </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://acdn.mitiendanube.com/stores/002/042/897/products/b0f80f34-1-a525dbe30c1466940b17177739700999-1024-1024.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>New Balance 550 </ion-card-title>
      <ion-card-subtitle>New Balance 550 Navy Blue</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://d368r8jqz0fwvm.cloudfront.net/31953-product_lg/sandalias-de-mujer-ljary.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Sandalias  </ion-card-title>
      <ion-card-subtitle>Goofy ah sandalias</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
