:root {
    /* Colores predeterminados de Ionic */
    --ion-color-primary:#D9D9D9;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-secondary: #1500d4;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-tertiary: #d1ff52;
    --ion-color-tertiary-rgb: 82, 96, 255;
  }
