<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pantalones</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col><div class="texto" routerLink="/remeras">Remeras</div></ion-col>
      <ion-col><div class="texto" routerLink="/pantalones">Pantalones</div></ion-col>
      <ion-col><div class="texto" routerLink="/buzos">Buzos</div></ion-col>
      <ion-col><div class="texto" routerLink="/zapatillas">Zapatillas</div></ion-col>
      <ion-col><div class="texto" routerLink="/camperas">Camperas</div></ion-col>
    </ion-row> 
   </ion-grid>
  
   <ion-card>
    <ion-img src="https://ae-pic-a1.aliexpress-media.com/kf/S6aac37be4aeb417da29c2faf792259f6t/INFLATION-Vintage-Stripe-Track-Pants-Men-Elastic-Waist-Wide-Leg-Pants.jpg_640x640Q90.jpg_.webp"></ion-img>
    <ion-card-header>
      <ion-card-title>Vintage Stripe Track Pants</ion-card-title>
      <ion-card-subtitle>INFLATION Vintage Stripe Track Pants Men Elastic Waist Wide Leg Pants </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://ae-pic-a1.aliexpress-media.com/kf/Sa3132b8426534e4ebc4af5f7282affc55/INFLATION-Vintage-Stripe-Track-Pants-Men-Elastic-Waist-Wide-Leg-Pants.jpg_640x640Q90.jpg_.webp"></ion-img>
    <ion-card-header>
      <ion-card-title>Vintage Side Stripe Track Pants</ion-card-title>
      <ion-card-subtitle> Inflation Vintage Side Stripe Track Pants Unisex Elastic Waist Wide Leg Pants Male Trousers</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://rukminim2.flixcart.com/image/850/1250/xif0q/track-pant/c/a/d/s-4line-patti-track-pant01-lothric-original-imah4yh4njkhezah.jpeg?q=90&crop=false"></ion-img>
    <ion-card-header>
      <ion-card-title> Track Pants </ion-card-title>
      <ion-card-subtitle>LOTHRIC Self Design Men Black Track Pants</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://img.fruugo.com/product/6/34/1600630346_max.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title> Baggy Cotton </ion-card-title>
      <ion-card-subtitle> Baggy Cotton Linen Men's Women's Harem Pants Hip Hop Wide Leg Trousers Casual Loose Vintage </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://ae01.alicdn.com/kf/S9e21144e8624411d86e1161ff31bc35b1/Jeans-skinny-el-sticos-masculinos-monocrom-ticos-slim-fit-cal-as-casuais-roupas-de-grife-streetwear.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>  Jeans skinny </ion-card-title>
      <ion-card-subtitle> Jeans skinny elásticos masculinos </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
