<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buzos</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col><a class="texto" routerLink="/remeras" routerLinkActive="active" routerDirection="root">Remeras</a></ion-col>
      <ion-col><a class="texto" routerLink="/pantalones" routerLinkActive="active" routerDirection="root">Pantalones</a></ion-col>
      <ion-col><a class="texto" routerLink="/buzos" routerLinkActive="active" routerDirection="root">Buzos</a></ion-col>
      <ion-col><a class="texto" routerLink="/zapatillas" routerLinkActive="active" routerDirection="root">Zapatillas</a></ion-col>
      <ion-col><a class="texto" routerLink="/camperas" routerLinkActive="active" routerDirection="root">Camperas</a></ion-col>
    </ion-row>
  </ion-grid>

   <ion-card>
    <ion-img src="https://d22fxaf9t8d39k.cloudfront.net/e6b6243c25476805869788c01f3cc01dcc29b18cca63fcf03070a3cfa448a840100632.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo Adidas </ion-card-title>
      <ion-card-subtitle>Buzo Adidas Retro (NEGRO)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://d22fxaf9t8d39k.cloudfront.net/eb30beba0ddc26f7457caf71156de1930e308423fe08ed57758c65fdabf36f47100632.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo Adidas </ion-card-title>
      <ion-card-subtitle>Buzo Adidas Retro (AZUL MARINO)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://scontent.fnqn6-1.fna.fbcdn.net/v/t1.6435-9/196932931_121032930147358_4359167733951129267_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=LgiNuXf-XSsQ7kNvgGgv7_N&_nc_zt=23&_nc_ht=scontent.fnqn6-1.fna&_nc_gid=AoOdfEYNcvT8wso4JPDcwBW&oh=00_AYBjkZQVagiwPdf_ko_MJ1Z5vsV0W3KbR7JoyqUFlikV2A&oe=6759C7B6"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo Nike </ion-card-title>
      <ion-card-subtitle>Buzo Nike Retro (Marron)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://acdn.mitiendanube.com/stores/953/334/products/buzo-stussy-bola-8-espalda-4x5-e3f378e750dfba063917202877685225-640-0.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo Stussy</ion-card-title>
      <ion-card-subtitle> Eight Ball Bola 8 </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://acdn.mitiendanube.com/stores/001/061/570/products/buzo-redondo-basket1-10d75f5e129b676ffe16739914440949-1024-1024.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo vint  </ion-card-title>
      <ion-card-subtitle>Vintage Basketball </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://d22fxaf9t8d39k.cloudfront.net/0c48c0b58f7e5bb38e56464ba27dc821e97b52611dcadc2dee5bb226cd98bf78116412.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Buzo SPORTSWEAR Vintage </ion-card-title>
      <ion-card-subtitle>Crewneck Green - Talle M/L</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
