.navbar-image {
    width: 160px; /* Ajusta el tamaño de la imagen */
    height: 45px; /* Mantiene la proporción de la imagen */
    margin: -22px; /* Centra la imagen */
    display: block; /* Asegura que la imagen sea un bloque */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centrado exacto */
  }
  .texto {
    background-color: #D9D9D9;
    color: black;
    text-align: center;
}
ion-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Dos columnas para que las tarjetas se alineen en filas de dos
  gap: 10px; // Espacio entre las tarjetas
  padding: 10px;

  ion-card {
    max-height: 300px; // Ajusta la altura máxima de cada tarjeta para que se vean varias en la misma vista
    overflow: hidden; // Esconde el contenido adicional si la tarjeta supera el alto máximo
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    ion-img {
      width: 100%;
      height: auto;
      max-height: 120px; // Ajusta la altura máxima de la imagen
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: cover; // La imagen se ajusta al espacio sin perder proporción
    }

    ion-card-header {
      ion-card-title {
        font-size: 1em;
        font-weight: bold;
        color: #000000;
      }
      
      ion-card-subtitle {
        font-size: 0.8em;
        color: #000000;
      }
    }

    ion-card-content {
      font-size: 0.9em;
      color: #333;
      max-height: 100px; // Limita el contenido para que no ocupe demasiado espacio

      ion-button {
        margin-top: 5px;
        width: 100%;
        font-size: 0.8em;
      }
    }
  }
}

