.texto {
    background-color: #D9D9D9;
    color: black;
    text-align: center;
}
  ion-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px;
  
    ion-card {
      max-height: 300px; 
      overflow: hidden; 
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
      ion-img {
        width: 100%;
        height: auto;
        max-height: 120px; 
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover; 
      }
  
      ion-card-header {
        ion-card-title {
          font-size: 1em;
          font-weight: bold;
          color: #000000;
        }
        
        ion-card-subtitle {
          font-size: 0.8em;
          color: #000000;
        }
      }
  
      ion-card-content {
        font-size: 0.9em;
        color: #333;
        max-height: 100px; 
  
        ion-button {
          margin-top: 5px;
          width: 100%;
          font-size: 0.8em;
        }
      }
    }
  }
  